* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #dad2d8;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  max-height: 80 vh;
  max-width: 70vw;
}

.header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: #143642;
  border-radius: 50px;
}

h1 {
  flex-grow: 8;
  text-align: center;
  color: #dad2d8;
}

.score {
  color: #ec9a29;
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
}

.main-content {
  display: flex;
  flex-grow: 10;
  background-color: #dad2d8;
  min-width: 70vw;
  max-height: 70vh;
  flex-shrink: 1;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  margin-bottom: 1rem;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.side-bar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 80vh;
}

.nav-title {
  text-align: center;
  color: #143642;
  font-weight: bold;
  padding: 0.2rem;
  font-size: 1.2rem;
}

p {
  color: #143642;
  padding: 0.4rem;
  border-radius: 20px;
  border: 1px solid #143642;
  flex-grow: 3;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.active {
  color: #dad2d8;
  background-color: #143642;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 8;
  text-align: center;
  font-size: 1.5rem;
  color: #143642;
  padding: 1rem;
  flex-shrink: 1;
}

input {
  min-width: 70vw;
  min-height: 20vh;
  align-self: center;
}

button {
  padding: 0.8rem;
  margin: 1rem;
  align-self: center;
  border-radius: 20px;
  border: 1px solid #143642;
  background-color: #7a9b76;
  color: #dad2d8;
  font-weight: bold;
  white-space: nowrap;
}

button:hover {
  border: 1px solid #143642;
  color: #dad2d8;
  background-color: #143642;
}

footer {
  background-color: #a26769;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

footer > button {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #dad2d8;
  color: #143642;
}

.answer-buttons > button.active,
.answer-buttons > button:hover {
  background-color: #ec9a29;
  color: #143642;
}

:disabled,
button:disabled:hover {
  background-color: #eaeaea;
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
}
